<div class="flex flex-col gap-10 p-5 sm:p-10">
  <div class="flex flex-col sm:flex-row items-center justify-center gap-5">
    <stripe-buy-button name="Member Directory Module - 1 Year License"
      buy-button-id="buy_btn_1TbNjSQCWQgJswssGB5Ev8ro"
      publishable-key="pk_live_51TbMpSQCWQgJswssK9djxyOpGuyB9bVsXhWE7jLFQzorSmEg8vN2uaLf04zkAbOKdZNYPIuNXIET3ZWkmdTbOBJp00gcRZF4Z6">
    </stripe-buy-button>
    <stripe-buy-button name="Member Directory Module - 1 Month Free Trial License"
      buy-button-id="buy_btn_1TbNXoQCWQgJswssB3QAC6ik"
      publishable-key="pk_live_51TbMpSQCWQgJswssK9djxyOpGuyB9bVsXhWE7jLFQzorSmEg8vN2uaLf04zkAbOKdZNYPIuNXIET3ZWkmdTbOBJp00gcRZF4Z6">
    </stripe-buy-button>
  </div>

  <div class="mt-8 flex items-center justify-center gap-5">
    <app-button [routerLink]="'/' + appRoutes.HOME" [type]="'Gray'" [text]="'Back to Home'"></app-button>
    <app-button [routerLink]="'/' + appRoutes.MEMBER_DIRECTORY_MODULE_DEMO" [type]="'Blue'" [text]="'Demo'"></app-button>  
    <app-button [routerLink]="'/' + appRoutes.MEMBER_DIRECTORY_INSTALLATION_GUIDE" [type]="'Green'" [text]="'Installation Guide'"></app-button>
  </div>
</div>